{% extends "base.html" %}

{% block title %}Nowhere Bike: Programs{% endblock %}

{% block left %}hi&nbsp;{% endblock left %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>Programs</h1>
    <form>
      <a type="button" class="btn btn-default" href="/program/">New Program</a>
    </form>
    <ul class="list-group">
      {% for program in programs %}
      <li class="list-group-item">
        <button type="button" class="btn btn-default">
          <a href="/program/{{ program.key.id() }}/run">Run</a>
        </button>
        <button type="button" class="btn btn-default">
          <a href="/program/{{ program.key.id() }}">Edit</a>
        </button>
        {{ program.desc }}
      {% endfor %}
    </ul>

    <a href="{{ url }}">{{ url_linktext }}</a>
  </div>
</div>
{% endblock body %}
